<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="Automation.Php_Travels.Testcase_1"/>
     <class name="Automation.Php_Travels.Testcase_2"/>
      <class name="Automation.Php_Travels.Testcase_4"/>
     
      
      <class name="Automation.Php_Travels.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
